{% extends "header.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('userCanvasBP.static',filename='styles/userCanvas.css')}}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3 col-lg-2 col-sm-12 position-fixed">
        <div class="row me-3 mt-3 border border-dark ">
            <h3> Functions </h3>

            <button class="btn col-5 offset-1 text-truncate border mt-2 functionButton" id="addDescription">Summary Statistics</button>
            <button class="btn col-5 text-truncate border mt-2 functionButton" id="addMean">Normal Test</button>
            <button class="btn col-5 offset-1 text-truncate border mt-2 functionButton"id="addTTest">T-Test</button>  
            <button class="btn col-5 text-truncate border mt-2 functionButton"id="addCorrelation">Correlation</button>  

        </div>
        <div class="row me-3 mt-3 border border-dark">
            <div class="col-12 text-truncate">
                <h3> Columns </h3>
                {%if columns %}
                {% for column in columns%}
                    <p class="columnLabel border border-dark" draggable="true" ondragstart="drag(event)">{{column}}</p>
                {% endfor %}
                {%endif%}
            </div>
        </div>
        </div>
    <div class="col-9 col-lg-10 col-sm-12 offset-lg-2 offset-md-3 mt-3 h-100" id="userCanvas">

    </div>


{% endblock %}



{% block scripts %}
<script src="{{url_for('userCanvasBP.static',filename='scripts/statFunctions.js')}}"></script>

{% endblock %}

