{% extends "header.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('userCanvasBP.static',filename='styles/userCanvas.css')}}">
{% endblock %}

{% block content %}
<div class="userInteraction flex">
    <div class="topLeft">
        <div class="buttonHolder flex">
            <button class="functionButton" id="addDescription">Description</button>
            <button class="functionButton" id="addMean">Normal Test</button>
            <button class="functionButton"id="addTTest">T-Test</button>  
        </div>
    </div>
    <div class="columns">
        <div class="columnHolder">
    {%if columns %}
        {% for column in columns%}
        <p class= "columnText" draggable="true" ondragstart="drag(event)">{{column}}</p>
        {% endfor %}
    {%endif%}
        </div>
    </div>
</div>
    <div class="flex" id="userCanvas">

    </div>
{% endblock %}



{% block scripts %}
<script src="{{url_for('userCanvasBP.static',filename='scripts/statFunctions.js')}}"></script>

{% endblock %}

