.buttons{
    width:15%;
    height:100%;
    border: 1px solid black; 
    flex-flow: column wrap;
 
}
.columns{
    width:15%;
    height:100%;
    border: 1px solid black;  
}
.userCanvas{
    width:70%;
    height:100%;
    border: 1px solid black;  
}

.functionButton{
    width:50%;
    height:10%;

}