{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col-8 offset-2 text-center">
        <h1>Documentation</h1>

        <h2> Summary Statistics</h2>
        <p class="lead"></p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nullam vel imperdiet ex. Suspendisse id mattis sapien, ac ullamcorper magna. 
        Nullam malesuada lorem eu lectus luctus viverra. Curabitur vitae felis odio. 
        Donec mollis, velit nec pellentesque auctor, ex dui eleifend diam, in sagittis ex nisl luctus orci. 
        Duis et ipsum eget enim interdum sodales. Proin lobortis nec dui non ultrices. 
        Pellentesque elementum molestie pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        Nam a erat finibus, lacinia libero sed, semper massa. Suspendisse mi nisl, bibendum at sem finibus, sodales semper neque. 
        In ultricies lacus dolor, et sollicitudin nisl faucibus quis. Pellentesque a sem purus. 
        Aenean nec nibh nisl. Fusce varius vitae nulla maximus volutpat.
        <h2>Normality Test</h2>
        <p class="lead"></p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nullam vel imperdiet ex. Suspendisse id mattis sapien, ac ullamcorper magna. 
        Nullam malesuada lorem eu lectus luctus viverra. Curabitur vitae felis odio. 
        Donec mollis, velit nec pellentesque auctor, ex dui eleifend diam, in sagittis ex nisl luctus orci. 
        Duis et ipsum eget enim interdum sodales. Proin lobortis nec dui non ultrices. 
        Pellentesque elementum molestie pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        Nam a erat finibus, lacinia libero sed, semper massa. Suspendisse mi nisl, bibendum at sem finibus, sodales semper neque. 
        In ultricies lacus dolor, et sollicitudin nisl faucibus quis. Pellentesque a sem purus. 
        Aenean nec nibh nisl. Fusce varius vitae nulla maximus volutpat.
        <h2>T Test</h2>
        <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nullam vel imperdiet ex. Suspendisse id mattis sapien, ac ullamcorper magna. 
        Nullam malesuada lorem eu lectus luctus viverra. Curabitur vitae felis odio. 
        Donec mollis, velit nec pellentesque auctor, ex dui eleifend diam, in sagittis ex nisl luctus orci. 
        Duis et ipsum eget enim interdum sodales. Proin lobortis nec dui non ultrices. 
        Pellentesque elementum molestie pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        Nam a erat finibus, lacinia libero sed, semper massa. Suspendisse mi nisl, bibendum at sem finibus, sodales semper neque. 
        In ultricies lacus dolor, et sollicitudin nisl faucibus quis. Pellentesque a sem purus. 
        Aenean nec nibh nisl. Fusce varius vitae nulla maximus volutpat.
        </p>
    </div>
</div>
{% endblock %}