<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('headerBP.static',filename='styles/header.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/standards.css')}}">
        <script src="{{url_for('static',filename='scripts/customWidgets.js')}}"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <ul class="noPointUl flex headerUL">
            <li class="headerLi">
                <form class="headerInteraction" id="loadFile", method="POST" enctype="multipart/form-data" action="/loadData">
                    <input  type="file" id="myFile" name="filename" accept=".pyStat">
                    <input class="headerInteraction" type="submit" value="loadFile">
                </form>
        </li>
        <li class="headerLi">
            <a href="{{url_for('headerBP.savePytest')}}"><button class="headerInteraction">Save</button></a>
        </li>
    <li class="headerLi">
        <form class="headerInteraction" id="csvUpload", method="POST" enctype="multipart/form-data" action="/loadCSV">
            <input type="file" id="myFile" name="filename" accept=".csv">
            <input class="headerInteraction" type="submit", value="load CSV">
        </form>
    </li>
            </ul>
        </div>

    <div class="content flex">
    {% block content %}
    {% endblock %}
    </div>

</body>

<script src="{{url_for('headerBP.static',filename='scripts/header.js')}}"></script>

{% block scripts%}
{% endblock%}
</html>