<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>

        <div>
            <p class="lead">Upload a csv file to view its data.</p>
            <form id="csv_upload", method="POST" enctype="multipart/form-data" action="/">
                <input type="file" id="myFile" name="filename" accept=".csv">
                <input type="submit">
            </form>
        </div>

    {% block content %}
    {% endblock %}

</body>
</html>