:root {
    --main-text-color: white;
    --main-orange-color: #ED693C;
    --main-orange-border: #db6137;
    --main-red-color: #fabeb9;
    --main-red-border: #e8b0ac;
    --main-text-color: #F0F0F0;
    --main-error-red: red;
}

html {
    width: 100%;
    height: 100%;

}
body{
    height:100%;
    width:100%
}